.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.image {
  border-radius: 18px;
  margin-bottom: 40px;
}

.infoWrapper {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 110px;
}
