.reactDatepicker {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: var(--gray-ultra-light);
  margin-bottom: 16px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.reactDatepicker::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
}

.error {
  position: absolute;
  top: 20%;
  right: 10%;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: red;
}
