.nav {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.navList {
  display: flex;
  /* flex-grow: 1; */
  justify-content: center;
  gap: 32px;
}

.link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  color: var(--black);
}

.isActive {
  color: var(--blue);
}
