.list {
  display: flex;
  gap: 48px 32px;
  flex-wrap: wrap;
}

.item {
  width: calc((100% - 96px) / 4);
}

.buttonContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.loadMore {
  margin: 0 auto;
  padding: 12px 38px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid var(--light-blue);
  border-radius: 12px;
  background-color: transparent;
}

.loadMore:hover,
.loadMore:focus {
  border-color: var(--blue);
}

.disLoadMore {
  display: none;
}

.noResults {
  text-align: center;
  margin-top: 48px;
  font-size: 18px;
  color: var(--gray);
}
