@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {
  --black: #101828;
  --gray: #8e929a;
  --gray-light: #dadde1;
  --gray-extra-light: #f2f4f7;
  --gray-ultra-light: #f7f7f7;
  --white: #ffffff;
  --light-blue: #3470ff;
  --blue: #0b44cd;
  --font-family: 'Manrope', sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

/* .react-datepicker {
  border-color: var(--light-blue) !important;
}
.react-datepicker__header {
  background-color: #fff !important;
  border-color: var(--light-blue) !important;
}
.react-datepicker-popper .react-datepicker__triangle {
  stroke: var(--light-blue) !important;
}
 */

.react-datepicker {
  border: 1px solid var(--light-blue) !important;
  border-radius: 12px !important;
  box-shadow: none !important;
}

.react-datepicker-popper .react-datepicker__triangle {
  fill: var(--light-blue) !important;
  stroke: var(--light-blue) !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-color: var(--light-blue) !important;
  padding: 12px !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.react-datepicker__current-month {
  font-family: 'Inter', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--black) !important;
  text-align: center !important;
}

.react-datepicker__navigation--previous {
  left: 12px !important;
  top: 7px !important;
}

.react-datepicker__navigation--next {
  right: 12px !important;
  top: 7px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--light-blue) !important;
  border-width: 2px 2px 0 0;
}
/* .react-datepicker__navigation-icon--previous::before {
  border-color: var(--light-blue) !important;
} */

.react-datepicker__navigation:hover *::before {
  border-color: var(--blue) !important;
}
.react-datepicker__day-names {
  margin-top: 14px !important;
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-name {
  font-family: 'Inter', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.16 !important;
  color: var(--gray) !important;
  text-transform: uppercase;
}

.react-datepicker__day {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--black) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px !important;
  height: 32px !important;
  line-height: 32px !important;
  margin: 2px !important;
  border-radius: 50% !important;
  transition: background-color 0.3s ease-in-out;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
}

.react-datepicker__day--in-range {
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
}

.react-datepicker__day:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.react-datepicker__day--outside-month,
.react-datepicker__day--disabled {
  color: var(--gray) !important;
  pointer-events: none !important;
}
